# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml

# generated platform folders (run `flutter create .` to regenerate)
/android
/ios
/linux
/macos
/windows
/web

# IDE
.idea/
*.swp

# local env / secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store
*.pem
